# Temus Tools — Project Configuration
# This file is created once during init and committed to git.
# It contains static project settings only. Do NOT add dynamic data here.
# Dynamic data (features, deploys) is fetched from GitLab API.

PROJECT_NAME=""
PROJECT_DESCRIPTION=""
PROJECT_PATH=""
CREATED_AT=""

# GitLab
GITLAB_REPO_URL=""
GITLAB_PROJECT_ID=""
