# Temus Tools — Project Configuration
# Static project settings. Do NOT add dynamic data here.
# Dynamic data (features, deploys) is fetched from GitLab API.

PROJECT_NAME="demo-0"
PROJECT_DESCRIPTION="demo-0-description"
PROJECT_PATH="/home/hau/Desktop/demo-0"
CREATED_AT="2026-03-08 17:46"

# GitLab
GITLAB_REPO_URL="https://gitlab02.decision-science.agency/hau.le/demo-0"
GITLAB_PROJECT_ID="266"
